{% extends "wrap.html" %}
{% load static%}

{%block header%}
<link rel="stylesheet" href="{% static 'css/catalog.css' %}">
{%endblock header%}
{%block content%}
<div class="container">
    <div class="row">
        {% for tovar in tovars %}
        <div class="col-md-3 mb-4 fixed-width">
            <div class="card h-100">
                <img src="{{ tovar.image.url }}" class="card-img-top" alt="{{ tovar.fullname }}">
                <div class="card-body">
                    <h5 class="card-title">{{ tovar.fullname }}</h5>
                    <p class="card-text">{{ tovar.description|truncatewords:30 }}</p>
                    <p class="card-text"><strong>Цена:</strong> {{ tovar.price }} руб.</p>
                    <p class="card-text"><strong>Бренд:</strong> {{ tovar.brand }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{%endblock%}