{% extends "wrap.html" %}
{% load static%}
{% block content %}
{% if user.is_authenticated %}
        {% if not is_mobile %}
        <div class="container">
            <div class="row">
            <div class="col-3">
        </div>
        {%endif%}
        {% if not is_mobile %}<div class="col-8">{%endif%}
            <div class="content">
                {% if orders.count == 0 %} <h3 style="width: 100%;  display: flex; justify-content: center;">Здесь почему то пусто, кажется вы пока что ничего не заказывали...</h3> </div>
                {% else %}
                <div style="margin-top: -40px;" class="viewed">
                    <h4 class="header-title">
                        Заказы 
                    </h4>
                    <div class="favorite-items1">
                        {% for view in orders %}
                        {% if view.user == user %}
                            <a href="{% url 'order_state' view.order_number %}" class="favorite-item">
                                <div style="width: 240px;">
                                    <img class="favorite-item-image" src="{{ view.ordered_items.image.url }}" alt="{{ view.ordered_items.full_name }}">
                                </div>
                                <div style="position: absolute; width: 60%; {%if not is_mobile%} right: 50px; {%else%} right: 25px; {%endif%}" class="favorite-item-details">
                                    <h4 class="favorite-item-title">{{ view.ordered_items.name }} - {{ view.order_number }}</h4>
                                    <h4 class="favorite-item-title-2">{{ view.ordered_items.price }} {{ view.ordered_items.currency }}</h4>
                                </div>
                            </a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% if not is_mobile %}
        </div>
    </div>
</div>
{%endif%}
{%endif%}
    {% else %}
        <h2>Авторизуйся, товарищ!</h2>
    {% endif %}
    </div>
</div>
{% endblock content %}