{% extends "wrap.html" %}

{%block content%}
<main>
	<section class="tagline">
	<p>
		<em>"Насыщенный вкус, тонкий стиль - в каждом ломтике нашей пиццы ощущается искусство!"</em> 
	</p>
	</section>
	<div class="all">
	<input checked type="radio" name="respond" id="desktop">
		<article id="slider">
				<input checked type="radio" name="slider" id="switch1">
				<input type="radio" name="slider" id="switch2">
				<input type="radio" name="slider" id="switch3">
				<input type="radio" name="slider" id="switch4">
				<input type="radio" name="slider" id="switch5">
			<div id="slides">
				<div id="overflow">
					<div class="image">
						<article><img src="/static/images/main-photo1.jpg"></article>
						<article><img src="/static/images/main-photo2.jpg"></article>
						<article><img src="/static/images/main-photo3.jpg"></article>
						<article><img src="/static/images/main-photo4.jpg"></article>
						<article><img src="/static/images/main-photo5.jpg"></article>
					</div>
				</div>
			</div>
			<div id="controls">
				<label for="switch1"></label>
				<label for="switch2"></label>
				<label for="switch3"></label>
				<label for="switch4"></label>
				<label for="switch5"></label>
			</div>
			<div id="active">
				<label for="switch1"></label>
				<label for="switch2"></label>
				<label for="switch3"></label>
				<label for="switch4"></label>
				<label for="switch5"></label>
			</div>
		</article>
	</div>
</main>

{%endblock%}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    </body>
</html>