{% extends "wrap.html" %}
{%load static%}
{%block header%}
    <link rel="stylesheet" href="{% static 'css/kitchen.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{%endblock header%}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-5 shadow-sm">
                <div class="card-header text-center bg-primary text-white">
                    Добро пожаловать на Кухню
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Товар: <span class="text-primary">{{ order.ordered_items.full_name }}</span></h5>
                    <h6 class="card-subtitle mb-2 text-muted text-center">Номер заказа: <span class="text-primary">{{ order.order_number }}</span></h6>
                    <p class="card-text">
                        <strong>Доставщик:</strong> <span class="text-primary">{{ order.client.username }}</span><br>
                        <strong>Дата заказа:</strong> <span class="text-primary">{{ order.created_at }}</span><br>
                        <strong>Адрес:</strong> <span class="text-primary">{{ order.sity }}, {{ order.street }}, {{ order.home }}, {{ order.entrance }}, {{ order.floor }}, {{ order.flat }}</span><br>
                        <strong>Комментарий:</strong> <span class="text-primary">{{ order.comment }}</span><br>
                        <strong>Статус:</strong> <span class="text-primary">{{ order.status }}</span><br>
                    </p>
                    {% comment %} <a href="{% url 'orders' %}" class="btn btn-primary btn-block mt-3">Вернуться к списку заказов</a> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}